<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Awesome Products</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div style="margin:8px;">
    @RenderBody()
  </div>
  <hr>
  [ <a asp-controller="Home" asp-action="Index">Home</a> | 
    <a asp-controller="Product" asp-action="Index">Products</a> ]
</body>
</html>
